<div id="PROJECT CEEO HEADER">
	<header1 class="py-5 mb-4" style="background-color:#00FF85;margin:0;border:0;padding:0">
	  <div class="container">
		  <div class="row">
			  <div class="col-lg-12">	
	
		  <a href="index.html" target="_blank">
			  <img class="img-fluid" style="width: 15%;max-width: 200px; margin-right: 70%" src="/assets/img/Logo_Black.png" alt="">
		  </a>
		  <a href="https://ceeo.tufts.edu" target="_blank">
				<img class="img-fluid" style="width: 13%;max-width: 200px " src="/assets/img/Tufts_University.png" alt="">
		  </a>
			</div>
		  </div>
	  </div>
	</header1>
	</div>